Source: tigger-lsm
Section: python
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>= 8.0.0),
 dh-python,
 python-all,
 python-setuptools,
 python-kittens,
 python-qt4,
 python-qwt5-qt4
Standards-Version: 3.9.7
Homepage: https://github.com/ska-sa/tigger-lsm
X-Python-Version: 2.7

Package: python-tigger-lsm
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}, python-kittens,
 python-pyfits, python-astlib, python-scipy, python-numpy
Description: FITS and MeqTrees LSM viewer, python 2 library

Package: tigger-lsm
Architecture: any
Depends: python-tigger-lsm
Description: dependency package for FITS and MeqTrees LSM viewer
