Source: tigger-lsm
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>=11),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-astro-kittens
Standards-Version: 4.6.0
Homepage: https://github.com/ska-sa/tigger-lsm
X-Python3-Version: >= 3.6

Package: python3-astro-tigger-lsm
Architecture: any
Depends:
 ${python3:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 python3-astro-kittens,
 python3-astropy,
 python3-astlib,
 python3-scipy,
 python3-numpy
Description: FITS and MeqTrees LSM file tools for python 3.

Package: tigger-lsm
Architecture: any
Depends: python3-astro-tigger-lsm, ${misc:Depends}
Description: dependency package for FITS and MeqTrees LSM viewer
