Source: tigger-lsm
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>= 8.0.0),
 dh-python,
 python-all,
 python-setuptools,
 python-astro-kittens,
Standards-Version: 3.9.7
Homepage: https://github.com/ska-sa/tigger-lsm
X-Python-Version: 2.7

Package: python-astro-tigger-lsm
Replaces: python-tigger-lsm
Architecture: any
Depends:
 ${python:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 python-astro-kittens,
 python-pyfits,
 python-astlib,
 python-scipy,
 python-numpy
Description: FITS and MeqTrees LSM file tools

Package: tigger-lsm
Architecture: any
Depends: python-tigger-lsm, ${misc:Depends}
Description: dependency package for FITS and MeqTrees LSM viewer
